<!DOCTYPE html>
<html>
<body>
<div class="container" style="width:100%;">
  <div class="email" style="max-width: 600px; background-color: white; display: block; margin: 10px auto;">
    <div class="invite" style="width:100%; max-width: 600px; display: block; margin: 10px auto;">
          <p><%= @text %></p>

            <p>
              You can <a href="<%= @link %>">click here</a> to sign up, and you'll have to let me know what you think.
          </p>

            <p>Hope you subscribe and enjoy the Primers!</p>



    </div>


  </div>
</div>

</body>

<html>