<!DOCTYPE html>
<html>
<body>
<div class="container" style="width:100%;">
  <div class="email" style="max-width: 600px; background-color: white; display: block; margin: 10px auto;">
    <div class="invite" style="width:100%; max-width: 600px; display: block; margin: 10px auto;">
          <p>
            I’m writing to share Primer Sports, an e-mail newsletter that I subscribe to and enjoy reading. They always do a good job telling me the biggest things happening in sports.
          </p>
            <p>
            The idea of the company is to give busy people the info they need to have sports conversations at work and with friends in a digest that’s easy to get through. The e-mails come on M-W-F. You can click here to sign up, and you'll have to let me know what you think.
            </p>
            <p>
            Hope you subscribe and enjoy the Primers!
          </p>

    </div>

  </div>
</div>

</body>

<html>